@{
    ViewData["Title"] = "Kamptee Salah Timings";
}

<div id="content">
    <div id="home-page" class="content-section">
        <h2>Kamptee Salah Timings</h2>
        <div class="grid-container">
            <div class="grid-item" data-tab-link="tab1">Fajr</div>
            <div class="grid-item" data-tab-link="tab2">Dhuhr</div>
            <div class="grid-item" data-tab-link="tab6">Jumah</div>
            <div class="grid-item" data-tab-link="tab3">Asr</div>
            <div class="grid-item" data-tab-link="tab4">Maghrib</div>
            <div class="grid-item" data-tab-link="tab5">Isha</div>
        </div>
    </div>

    <div id="tab1-content" class="tab-content content-section" style="display:none;"><h2>Fajr Timing</h2><div class="table-responsive"><table id="tab1-table"></table></div></div>
    <div id="tab2-content" class="tab-content content-section" style="display:none;"><h2>Dhuhr Timing</h2><div class="table-responsive"><table id="tab2-table"></table></div></div>
    <div id="tab3-content" class="tab-content content-section" style="display:none;"><h2>Asr Timing</h2><div class="table-responsive"><table id="tab3-table"></table></div></div>
    <div id="tab4-content" class="tab-content content-section" style="display:none;"><h2>Maghrib Timing</h2><div class="table-responsive"><table id="tab4-table"></table></div></div>
    <div id="tab5-content" class="tab-content content-section" style="display:none;"><h2>Isha Timing</h2><div class="table-responsive"><table id="tab5-table"></table></div></div>
    <div id="tab6-content" class="tab-content content-section" style="display:none;"><h2>Jumah Timing</h2><div class="table-responsive"><table id="tab6-table"></table></div></div>
</div>